submit*sh
submit*sh*err
submit*sh*log
submit*sh*out

#geometry file
*.gdml

#KEBI build
build
tools
*.swp
*.o

#KEBI simulation/analysis data
data
input
*.root
*.graw

#mac
.AppleDouble

#geant4 executable
*.g4sim

#log files created from build/run
*.log

#cmake configuration log files
log/*
!log/*.in

#documetation directory(doxygen)
doc

#temporary directories
temp*/

#figures
figures/
*.pdf
*.png
*.eps
*.jpg
*.jpeg
